# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\marius\ClionProjects\forme-geometrice-1512-2021\.idea/dataSources/
/dataSources.local.xml
